mixin svgGive(num, id, Class)
    if num === 1
        svg(class=Class, id= id,width='100%', viewBox='0 0 48 48', xmlns='http://www.w3.org/2000/svg')
            circle(cx='24', cy='24', r='20', stroke-width='2')
            path(d='M21.6924 31.7965L31.5716 24.7996C32.1428 24.3998 32.1428 23.6002 31.5716 23.2004L21.6924 16.2035C20.9943 15.7037 20 16.1835 20 17.0031V30.9969C20 31.8165 20.9943 32.2963 21.6924 31.7965Z')

mixin svg(svg_url, svg_id)
  if svg_id
    svg()&attributes(attributes)
      use(xlink:href= svg_url + '#' + svg_id)
  else
    svg()&attributes(attributes)
      use(xlink:href= svg_url)



mixin menu(Class, array, newC)
    ul(class=Class + "__list")
        each val, index in array
            li(class=Class + "__item")
                if newC
                  a(class=Class + "__link " + newC, href=val[1])= val[0]
                else
                  a(class=Class + "__link", href=val[1])= val[0]

mixin h3(Class, text)
  h3(class=Class + "__h3 title__h3")= text

mixin h2(Class, text)
  h2(class=Class + "__h2 title__h2")= text

mixin h1(Class, text)
  h1(class=Class + "__h1 title__h1")= text



mixin bulletsList(Class, type, array)
  div(class= Class + "__container")
    each val, index in array
      label(class= Class + "__label")
        input(class= Class, type= type)
        span(class= Class + "__custom")
        span(class= Class + "__text")= val


